@model Garage3.Models.Entities.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h2>Vehicle Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Owner:</dt>
        <dd>@Model.OwnerID</dd>
        <dt>Registration Number:</dt>
        <dd>@Model.RegistrationNumber</dd>
        <dt>Vehicle Type:</dt>
        <dd>@Model.VehicleTypeID</dd>
        <dt>Color:</dt>
        <dd>@Model.Color</dd>
        <dt>Brand:</dt>
        <dd>@Model.Brand</dd>
        <dt>Model:</dt>
        <dd>@Model.Model</dd>
        <dt>Number of Wheels:</dt>
        <dd>@Model.NumberOfWheels</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.VehicleID">Edit</a> |
    <a asp-action="Overview">Back to Overview</a>
</p>
